<html>

<head>
    <meta charset="utf-8" />
    <title>OST Disney Song</title>
</head>

<body>
    <h1><%= data.OstTitle %> 상세정보</h1>
        - Id : <%= data.Songid %> <br/>
        - OstTitle : <%= data.OstTitle %> <br/>
        - MovieTitle : <%= data.MovieTitle %> <br/>
        - Year : <%= data.Year %> <br/>
        - MainC : <%= data.MainC %> <br/>

        <form name="detail" method="post" action="/song/delete/<%= data.Songid %>">
            <input type="hidden" name="Songid" value="<%= data.Songid %>">
            <input type="button" value="update" onclick="location.href='/song/update/<%= data.Songid %>'">&nbsp;
            <input type="submit" value="delete">&nbsp;
            <input type="button" value="back" onclick="location.href='/song'">&nbsp;
        </form>
</body>

</html>